* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-over-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

div.biggest-title {
  border: 2px solid black;
}

div.transbox {
  margin: 2px;
  width: 500px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

div.transbox h1, h2, h4 {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

.big-title {
  border: 2px;
  background: rgb(204, 204, 204);
  /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);
}

.sub-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px;
}

.sec-title {
  border: 2px;
}

.sticky {
  position: sticky;
  top: 50px;
}

.media {
  float: left;
  height: 2000px;
  background: linear-gradient(to bottom, red, green 50%, blue 100%);
}

.tmp-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  width: 200vh;
  padding: 6vh;
}

.text-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D5FC82;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  width: 600px;
  border: 1px solid;
}

.text-write {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  border: 1px solid;
}